<body>
    
    <div class="titulo">Registro de Camión</div>

    
    <div class="tabla">
        <table class="Conductor">
          
          
    
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Segundo Nombre</th>
            <th>Numero de licensia</th>
            <th>Identifición</th>
          </tr>
          
          <tr>
            <td>1234</td>
            <td>juan</td>
            <td>pablo</td>
            <td>02684</td>
            <td>123456789</td>
          </tr>
          
          <tr>
            <td>1234</td>
            <td>juan</td>
            <td>pablo</td>
            <td>02684</td>
            <td>123456789</td>
          </tr>
          
          <tr>
            <td>1234</td>
            <td>juan</td>
            <td>pablo</td>
            <td>02684</td>
            <td>123456789</td>
          </tr>
        </table>
    </div>
    
    <div class="button" onclick="location.href='index.html'">
      <input type="submit" value="Registrar">
  </div>

  </body>
