
<body>

    <div class="contenedor">
        
            <div class="titulo">Registro de Conductor</div>

        
        <br>

        <form action="#">

            <div class="detalles_usuario">

                <div class="input_box">
                    <span class="detalles">Nombre</span>
                    <input type="text" placeholder="Digite su nombre" required>
                </div>

                <br>

                <div class="input_box">
                    <span class="detalles">Apellido</span>
                    <input type="text" placeholder="Digite su apellido" required>
                </div>

                <br>

                <div class="input_box">
                    <span class="detalles">Número de Licencia de Conducir</span>
                    <input type="number" placeholder="Digite número de licencia" required>
                </div>

                <br>

                <div class="input_box">
                    <span class="detalles">Número de Identidad</span>
                    <input type="number" placeholder="Digite número de identidad" required>
                </div>

                <div class="button" onclick="location.href='index.html'">
                    <input type="submit" value="Registrar">
                </div>

                <button class="volver" routerLink="" routerLinkActive="active">
                    <p>Volver</p>
                </button>

            </div>   
            
        </form>

        <br>

        

    </div>

    


</body>
