<div class="main">
    <div class="contenedor">

        <div class="titulo">•. Actividad Empresa XYZ .•</div>
    
        <br>
    
        <a routerLink="/registro-conductor" routerLinkActive="active">Registro de Conductor</a>
    
        <br>
    
        <a routerLink="/registro-camion" routerLinkActive="active">Registro de Camión</a>
    
        <br>
        <hr>
    
        <a routerLink="/tabla-conductor" routerLinkActive="active">Tabla de Conductor</a>
    
        <br>
    
        <a href="tabla_conductor.html">Tabla de Camión</a>
    
    
    </div>
</div>