* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  .contenedor{
    max-width: 300px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
    
  .titulo{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    position: relative;
  }
  
  a {
    color: #000000;
    text-decoration: none;
    text-align: center;
    position: relative;
  }