<body>

    <div class="contenedor">
        
        <div class="titulo">Registro de Camión</div>
        
        <br>

        <div class="content">

            <form action="#">

                <div class="detalles_usuario">
    
                    <div class="input_box">
                        <span class="detalles">Placa</span>
                        <input type="text" placeholder="Digite la placa" required>
                    </div>

                    <div class="input_box">
                        <span class="detalles">Marca </span>
                        <input type="text" placeholder="Digite la marca" required>
                    </div>
                    
                    <div class="input_box">
                        <span class="detalles">Modelo </span>
                        <input type="text" placeholder="Digite el modelo" required>
                    </div>

                    <div class="input_box">
                        <span class="detalles">Estado % </span>
                        <input type="number" placeholder="Digite el estado" required>
                    </div>
    
                    <div class="input_box">
                        <span class="detalles">Nivel de Gasolina % </span>
                        <input type="number" placeholder="Digite el nivell de gasolina" required>
                    </div>

                    <div class="button" onclick="location.href='index.html'">
                        <input type="submit" value="Registrar">
                    </div>

                    <button class="volver" routerLink="" routerLinkActive="active">
                        <p>Volver</p>
                    </button>

                </div>   
                
            </form>
    

        </div>

        
        <br>

        

    </div>

    


</body>
